
    <% include ../head %>

    <% include ../header %>
    <br><br><br>
            <div class="row">
                    
                    <!-- Blog Post Content Column -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
        
                        <!-- Blog Post -->
                        <%if (postrows != undefined) { %>
                            <input type="hidden" class="hidden" id="postnum" value="<%=postrows[0]['postnum']%>">
                           <!-- Title -->
                           <p class="lead">
                                <p><h3><%=postrows[0]['title']%></h3></p>
                            </p>
                            <hr>
                           <!-- Author -->
                           <p class="lead">
                               <p>작성자: <%=postrows[0]['nickname']%> | 날짜:<%=postrows[0]['regdate']  %> 

                                <!-- 권한 * auth 가 0 인 관라지만 수정가능하다!! -->
                                <%if (whoami != undefined) { %>
                                    <%if (authnum == '0') { %>
                                        <a href="/write/postmodiy?postnum=<%=postrows[0]['postnum']%>" class="btn-sm btn-info">수정</a>
                                        <a href="#" class="btn-sm btn-danger" id="delete">삭제</a>
                                    <% } %>
                                <% } %>
                               </p>
                           </p>
                           <hr>


                           <!-- Post Content -->
                           <p class="lead" id="description"></p>

                           <script>
                                   var htmlTag = "<%=postrows[0]['description']%>";  
                                   var changeToText = $("<div></div>").html(htmlTag).text();
                                   document.getElementById("description").innerHTML = changeToText;
                                   //console.log(changeToText); 
                           </script>


                            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                            <script>

                                // 게시판에서 이미지, 유튜브 볼때 이미지 사이즈 조절

                                jQuery(document).ready(function ($) {
                                    $('iframe[src^="//www.youtube.com/"]').wrap('<div class="youtubeWrap"></div>');
                                    $('iframe[src^="//player.vimeo.com/video/"]').wrap('<div class="youtubeWrap"></div>');    
                                    $('img').addClass("responsive");
                                });
                            </script>
                           <hr>
                           <!-- Blog Comments -->
                           <br>
                       </div>
                       <div class="col-lg-1"></div>

                        <% } %>
                </div>
                <!-- /.row -->

    <% include ../footer %>
    <script>
        $(document).ready(function () {
            //저장버튼 클릭
            $(document).on('click', '#delete', function () {

                //값 가져오기
                var postnum = $("#postnum").val();  
                
                var check = confirm('해당 글을 삭제하시겠습니까?');
                if(check){

                    $.ajax({
                        url: '/write/delete',
                        dataType: 'json',
                        type: 'post',
                        data: {
                            postnum: postnum
                        },
                        success: function (data) {
                            if (data['result'] == 'success') {
                                alert(data['tocken']);
                                window.history.go(-2);
                            } else if (data['result'] == 'fail') {
                                alert(data['tocken']);
                                return;
                            }
                        },
                        error: function (jqXHR, textStatus, err) {
                            //show error message
                            alert('죄송합니다. 작업중 오류가 발생했습니다.' + "상태 : " + textStatus + ', error : ' + err);
                        }
                    });


                }else{
                   return;
                }
                
            });
        });

    </script>
                 
