
    <% include ../head %>

    <% include ../header %>
    <br><br><br>
            <div class="row">
                    
                    <!-- Blog Post Content Column > -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
        
                            <section class="gallery-block cards-gallery">
                                    <div class="container">
                                        <div class="heading">
                                          <h2>아중감 갤러리</h2>
                                        </div>
                                        <div class="row">
                                               
                                                <%if (postrows != undefined) { %>
                                                  <% for (var ii = 0; ii < postrows.length; ii++) {  %>
                                                    <div class="col-md-6 col-lg-4">
                                                            <div class="card border-0 transform-on-hover">
                                                                <a class="lightbox" href="/read/readpost?postnum=<%=postrows[ii]['postnum']%>">
                                                                    <img src="../main.jpg" alt="Card Image" class="card-img-top" id="myimg<%=ii%>">
                                                                </a>
                                                                <div class="card-body">
                                                                    <h6><a href="#"><%=postrows[ii]['title']%></a></h6>
                                                                    
                                                                    <script>
                                                                        //앨범 커버에 넣어주기!
                                                                        var htmlTag = "<%=postrows[ii]['description']%>";
                                                                        var changeToText = $("<div></div>").html(htmlTag).text();
                                                                        
                                                                        var div = document.createElement('div');
                                                                        div.innerHTML = changeToText;
                                                                        var firstImage = div.getElementsByTagName('img')[0]
                                                                        var imgSrc = firstImage ? firstImage.src : "1"; //전체경로
                                                                        
                                                                        var rawImgSrc = firstImage ? firstImage.getAttribute("src") : "../main.jpg";

                                                                        //앨범 커버에 넣어주기
                                                                        document.getElementById('myimg<%=ii%>').src = rawImgSrc;

   
                                                                    </script>

                                                                </div>
                                                            </div>
                                                    </div>

                                                  <% } %>
                                              <% } else{ %>
                                                <div class="col-md-6 col-lg-4">
                                                        <div class="card border-0 transform-on-hover">
                                                            <a class="lightbox" href="#">
                                                            </a>
                                                            <div class="card-body">
                                                                <h6><a href="#">알림</a></h6>
                                                                <p class="text-muted card-text">사진을 준비중입니다.</p>
                                                            </div>
                                                        </div>
                                                </div>
                                              <% } %>  
                                        </div>
                                    </div>
                                </section>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
                                <script>
                                    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
                                </script>
        
                    </div>
                    <div class="col-lg-1"></div>

                    <br>
                    <br>
        <div class="container">

                <div class="row">


                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <ul class="pagination">

                            <%if (postrows != undefined) { %>
        
                                <%
                                var bigmun = postrows[0]['bignum']

                                var curSet = pasing.curSet
                                var endPage = pasing.endPage
                                var startPage = pasing.startPage
                                var totalSet = pasing.totalSet
                                var totalPage = pasing.totalPage
                                var page_list_size = pasing.page_list_size
                                var page_size = pasing.page_size
                                var curPage = pasing.curPage
                                %>
                                
                                
                                <% if(curSet > 1){ %>
                                
                                <li class="page-item">
                                    <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= ( startPage - 1) %>'>이전</a>
                                </li>
                                
                                <%}%>
                                
                                
                                <% for(var i = startPage; i <= endPage; i++){

                                if(i > totalPage){break;}
                                
                                    if(i == curPage){ %>

                                    <li class="page-item active" value=<%= i %>  >
                                        <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= i %>'>
                                            <%= i %>
                                        </a>
                                    </li>
                                    
                                    <% }else{ %>
                                    
                                    <li class="page-item" value=<%= i %>  >
                                        <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= i %>'>
                                            <%= i %>
                                        </a>
                                    </li>
                                    <%}%>
                                <%}%>
                                
                                <% if(curSet < totalSet){ %>
                                    <li class="page-item" >
                                        <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= ( endPage + 1) %>'>다음</a>
                                    </li>
                                <% } %>
                                
                                <%}%>
                            </ul>

                    </div>


                    </div><!-- /.pasing -->

                    </div>
                </div>
                <!-- /.row -->


    <% include ../footer %>
 
    <script>

    </script>
                 
