
    <% include ../head %>

    <% include ../header %>

    <br><br><br>
            <div class="row">
                    
                    
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
        
                        <!-- 게시판 제목-->
                        <%if (bigrows != undefined) { %>
                        <!-- Title -->
                        <h3>📌<%=bigrows[0]['title']%></h3>

                        <!-- 권한 * auth 가 0 인 관라지만 수정가능하다!! -->
                            <div class="text-right">                                    
                                <%if (whoami != undefined) { %>
                                    <%if (authnum == '0') { %>
                                        <div class="text-right"><a href="/write/middlemodiy?num=<%=bigrows[0]['bignum']%>" class="btn-sm btn-secondary">수정</a></div>
                                    <% } %>
                                <% } %>
                            </div>
                        <p class="text-black-50">❇️<%=bigrows[0]['description']%></p>
                        <br>
                        
                        <% } %>

                        <%if (postrows != undefined) { %>
                          <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 5%; font-size:80%;">#</th>
                                    <th scope="col" style="width: 40%; font-size:80%;">제목</th>
                                    <th scope="col" style="width: 20%; font-size:80%;">작성자</th>
                                    <th scope="col" style="width: 30%; font-size:80%;">일자</th>
                                    <th scope="col" style="width: 5%; font-size:80%;">hit</th>
                                  </tr>
                                </thead>
                                <tbody>
                          <% for (var ii = 0; ii < postrows.length; ii++) {  %>
                            <tr>
                                <td style="font-size:88%;"><%=postrows[ii]['postnum']%></td>
                                <td style="font-size:88%;"> <a id='title<%=ii%>' href="/read/readpost?postnum=<%=postrows[ii]['postnum']%>"></a></td>
                                <td style="font-size:88%;"><%=postrows[ii]['author']%></td>
                                <td style="font-size:88%;" id='regdate<%=ii%>'></td>
                                <td style="font-size:88%;"><%=postrows[ii]['cnt']%></td>
                             </tr>

                             <script>
                                    //날짜 길이 다듬기
                                    var htmlTag = "<%=postrows[ii]['regdate']%>"; 
                                    var afterStr = htmlTag.split(' ');
                                    var date = afterStr[0];
                                    var result = date.replace( /-/gi, '.');
                                    var dateResult = result.substring(2,10);
                                    document.getElementById("regdate<%=ii%>").innerHTML = dateResult;
                                   
                                    var title = "<%=postrows[ii]['title']%>"; 

                                    //제목에 5글자 보다 크면
                                    if(title.length > 15){
                                        var titleResult = title.substring(0,15);
                                        titleResult = titleResult+ '..'
                                        document.getElementById("title<%=ii%>").innerHTML = titleResult;
                                                                  
                                    }else{
                                        document.getElementById("title<%=ii%>").innerHTML = title;
                                    }

                            </script>

                          <% } %>
                        </tbody>
                      </table>
                      <% } else{ %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">알림</th>
                                  </tr>
                                </thead>
                                <tbody>
                         
                            <tr>
                                <td>게시판 준비중입니다:)</td>
                             </tr>
                        </tbody>
                      </table>

                      <% } %>  
                    
                        <hr>
                                <!-- 페이징    -->
                                <br>
                                <br>

                        <div class="container">

                          <div class="row">


                              <div class="col-md-4"></div>
                              <div class="col-md-4">

                                  <ul class="pagination">

                                      <%if (postrows != undefined) { %>
                
                                          <%
                                          var bigmun = postrows[0]['bignum']
          
                                          var curSet = pasing.curSet
                                          var endPage = pasing.endPage
                                          var startPage = pasing.startPage
                                          var totalSet = pasing.totalSet
                                          var totalPage = pasing.totalPage
                                          var page_list_size = pasing.page_list_size
                                          var page_size = pasing.page_size
                                          var curPage = pasing.curPage
                                          %>
                                          
                                          
                                          <% if(curSet > 1){ %>
                                          
                                          <li class="page-item">
                                              <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= ( startPage - 1) %>'>이전</a>
                                          </li>
                                          
                                          <%}%>
                                          
                                          
                                          <% for(var i = startPage; i <= endPage; i++){
          
                                          if(i > totalPage){break;}
                                          
                                              if(i == curPage){ %>
          
                                              <li class="page-item active" value=<%= i %>  >
                                                  <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= i %>'>
                                                      <%= i %>
                                                  </a>
                                              </li>
                                              
                                              <% }else{ %>
                                              
                                              <li class="page-item" value=<%= i %>  >
                                                  <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= i %>'>
                                                      <%= i %>
                                                  </a>
                                              </li>
                                              <%}%>
                                          <%}%>
                                          
                                          <% if(curSet < totalSet){ %>
                                              <li class="page-item" >
                                                  <a class="page-link" href='/read/readbig?num=<%=bigmun%>&pagenum=<%= ( endPage + 1) %>'>다음</a>
                                              </li>
                                          <% } %>
                                          
                                          <%}%>
                                      </ul>
    
                              </div>
    
    
                            </div><!-- /.pasing -->

                              </div>
                              <div class="col-md-4"></div>

                            
                        <br>
        
                    </div>
                    <div class="col-lg-1"></div>

                </div>
                <!-- /.row -->


    <% include ../footer %>
 
    <script>

    </script>
                 
